@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: Oswald;
  src: url("assets/fonts/Oswald/Oswald-VariableFont_wght.ttf");
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #faf9eb;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  background-color: #9bc837;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  position: relative;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: black;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: -5px;
  width: calc(100% - 24px);
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: .5s;
}
.nav-link:hover::after {
  opacity: 1;
  animation-name: slidein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.section-item a {
  color: #829985;
  transition: color 0.5s;
}
.section-item a:hover {
  color: #4d2323;
}
.main {
  margin-bottom: auto;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pre {
  padding: 0;
  margin: 0;
}
.section {
  width: 50%;
}
.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.link {
  text-decoration: none;
  color: #829985;
  transition: color 0.5s;
}

.link:hover {
  color: #5d7260;
}
.section-item {
  position: relative;
  padding-left: 30px;
}

.section-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 10px;
  height: 10px;
  border: 1px solid #829985;
  border-radius: 50%;
}
.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}
.main-title {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  color: #1014da;
  font-size: 32px;
  font-weight: 300;
  line-height: 50px;
}
.section-profile-logo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  filter: grayscale(0.2) brightness(1.05);
  transition: .3s;
}
.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
  border-bottom: 15px solid #cdca84;
}
.section-code {
  width: 100%;
  background-color: #f2eee7;
}
h1, h2 {
  font-family: "Oswald";
}
.footer {
  background-color: #9bc837;
  padding: 20px;  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.github {
  background-image: url("./assets/GitHub-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.rss {
  width: 121px;
  height: 45px;
  background-image: url("./assets/rs-school-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
